<h1>Task Saver</h1>

<h3>Save the tasks you need to get to later</h3>

<ul>
  {{#each tacos}}
  	<li>
  	   <p>ID: {{id}}</p>
       <p>Name: {{name}}</p>
  	</li>
  {{/each}}
</ul>

<form>
	<input type="text" id="name">
	<button type="submit" id="submit">Submit</button>
</form>
