<h1>Taco Builder</h1>

<h3>Enter in a taco that you would like to eat.</h3>

<ul>
  {{#each tacos}}
  	<li>
  	   <p>Tacos: {{id}}</p>
       <p>Name: {{name}}</p>
  	</li>
  {{/each}}
</ul>

<form>
	<input type="text" id="name">
	<button type="submit" id="submit">Submit</button>
</form>


