body {
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: block;
    margin: auto;
    width: 500px;
    text-align: center;
   
    display: block;
    overflow: auto;
  }

 ul {
        list-style-position: inside;
        list-style-type: none;
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 400px;
 }
